{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if message == True %}
    <p class="alert alert-success" role="alert">Sucessfully Saved your entrie</p>
    {% endif %}
    {% if entrie != None %}
    {{ entrie | safe }}
    {% else %}
    <p class="alert alert-info" role="alert">Page does Not exists</p>
    {% endif %}
    <div>
        <a href = "{% url 'encyclopedia:edit' title=title%}">Edit entry</a>
    </div>
{% endblock %}
