{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1 class="font-italic">All Pages</h1>

    <ul>
        {% if message == False %}
        <p class="alert alert-info" role="alert">Here are some matched results</p>
        {% endif %}
        {% if entries != None %}
        {% for entry in entries %}
        <a href = "{% url 'encyclopedia:entry'  entry=entry%}"><li>{{ entry }}</li></a>
        {% endfor %}
        {% else %}
        <p  class="alert alert-info" role="alert">Page does Not exists</p>
        {% endif %}
    </ul>

{% endblock %}