{% load static %}
<!DOCTYPE html>
<html land = "en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href = "{% static 'encylopedia/styles.css' %}", rel = "stylesheet">
    </head>
    <div class="row mx-auto font-italic"  style = "padding-top: 20px;padding-left: 20px;">
        <div class="sidebar col-lg-2 col-md-3">
            <h2 class="font-weight-bold">Wiki</h2>
            <form action="{% url 'encyclopedia:search' %}", method = 'post'>
                {% csrf_token %}
                <input class="search" type="text" name="query" placeholder="Search Encyclopedia">
            </form>
            <div>
                <a href="{% url 'encyclopedia:index' %}">Home</a>
            </div>
            <div>
                <a href = "{% url 'encyclopedia:create' %}">Create New Page</a> 
            </div>
            <div>
                <a href =  "{% url 'encyclopedia:random' %}">Random Page</a> 
            </div>
            {% block nav %}
            {% endblock %}
        </div>
        <div style = "padding-top: 20px;padding-left: 100px;" class="font-italic main col-lg-10 col-md-9  margin-left:100px">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</html>
